choice
	prompt "Machine type"
	depends on MACH_THINPAD
	default THINPAD_SPANTAN6

config THINPAD_SPANTAN6
	bool "Thinpad with Spantan6 by LiShanshan"

config DE2I_CYCLONE4
	bool "Terasic DE2i development board"

endchoice
